body {
    background-color: rgb(255, 255, 165);
}

.image{
    border: 3px solid hsl(2, 79%, 53%);
    border-radius: 3px;
    height: 400px;
    display:flex;
    align-items: center;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}

p{
    max-width: 50%;
}

h1{
    text-align: center;
}